<h1>Venue and Music Portal!</h1>
<h3>Edit band and venue information here</h3>

<p><a href="/bands">Add a new band</a></p>
<p><a href="/venues">Add a new venue</a></p>

<h4>Here are all the venues:</h4>

<% if @venues.any?() %>
  <p>Click on a venue to assign them bands</p>

  <ul>
    <% @venues.each do |venue| %>
    <li><a href="/venues/<%= venue.id() %>"><%= venue.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no venues working here yet!</p>
  <% end %>

<h4>Here are all the current bands:</h4>

<% if @bands.any?() %>
  <p>Click on a band to assign them to a venue</p>

  <ul>
    <% @bands.each do |band| %>
    <li><a href="/bands/<%= band.id() %>"><%= band.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no bands yet!</p>
  <% end %>
