<h1>Venue and Music Portal!</h1>
<h3>Edit band and venue information here</h3>

<div class="bands-button">
<p><a href="/bands" role ="button" class="btn btn-info">Add a new band</a></p>
</div>

<div class="venues-button">
<p><a href="/venues" role="button" class="btn btn-success">Add a new venue</a></p>
</div>

<h4>Here are all the venues:</h4>

<% if @venues.any?() %>
  <p>Click on a venue to assign them bands</p>

  <ul>
    <% @venues.each do |venue| %>
    <li><a href="/venues/<%= venue.id() %>"><%= venue.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no venues listed yet!</p>
  <% end %>

<h4>Here are all the current bands:</h4>

<% if @bands.any?() %>
  <p>Click on a band to assign them to a venue</p>

  <ul>
    <% @bands.each do |band| %>
    <li><a href="/bands/<%= band.id() %>"><%= band.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no bands yet!</p>
  <% end %>
